VITE_RPC_URI=https://opt-mainnet.g.alchemy.com/v2/eMfpHDDDWuKK99KxTaEiyaCqYDstRv2Y
# See: https://cloud.walletconnect.com
VITE_WALLETCONNECT_PROJECT_ID=
ETHERSCAN_API_KEY=RQ9469N39PTQPHY1XNAVHVTF2UDJI17S79
VITE_GOVNFT_ADDRESS=0xB1295666086ec3EDaa436bf66F56ED8036755b95
VITE_GOVNFT_SUGAR_ADDRESS=0x4d739D5dF30f430429cf85D4B1d68420b4938e59
# Tokens CDN host to load the logos based on the token address
VITE_TOKEN_ADDRESSES=0x4200000000000000000000000000000000000042,0x7f5c764cbc14f9669b88837ca1490cca17c31607,0x94b008aa00579c1307b0ef2c499ad98a8ce58e58
VITE_TOKEN_ASSETS_CDN=https://assets.smold.app/api/token
# Feature flags, use comma-delimited tags to activate feature flags...
# Available flags: disable-fees,marketplace,migration,no-batch-rpc-calls
VITE_FEATURE_FLAGS=
